@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #30DDCE, #30DDCC);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: auto;
    margin: 0;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 0;
    padding: 0;
    color: #FFF85F;
    font-size: 3rem;
}

.btn {
    background-color: #FFF85F ;
    border-radius: 15px;
    border: none;
    color: #30DDCE;
    margin: 1.2rem;
    padding: 2rem 2rem;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

.btn:focus {
    outline-style: solid;
    outline-width: 10px;
    outline-color: #2A325B;
}