@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

:root {
  --primary-yellow: #f8ff1c;
  --primary-green: #50ffaf;
  --primary-pink: #ff00f6;
  --primary-purple: #9723c9;
  --primary-black: #000000;
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Jost', Kokoro, sans-serif;
    background-color: var(--primary-green);
    color: var(--primary-black);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: auto;
    margin: 0;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 3rem;
    color: #fff;
}

.btn {
    background-color: var(--primary-purple);
    border-radius: 1rem;
    border: none;
    color: #fff;
    margin: 1.2rem;
    padding: 2rem 2rem;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

.btn:focus {
    outline-style: solid;
    outline-width: 10px;
    outline-color: var(--primary-yellow);
}
